<div>
  <a href="https://join.slack.com/t/kzrb/shared_invite/zt-1f4tcvoud-w5whpsFrRpFyFHisVpyMCA" rel="noopener" target="_blank" style="text-decoration:none;">
    <img src="https://cdn.bfldr.com/5H442O3W/at/pl546j-7le8zk-afym5u/Slack_Mark_Web.png?auto=webp&amp;format=png&amp;width=100&amp;height=100" style="display:inline-block;margin:0;padding:0;border:none;" width="25px" height="25px">
    <span style="display: inline-block;font-size:0.75rem;vertical-align:top;font-weight:400;">Slackに参加する</span>
  </a>
</div>
