<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Meetup {{ page.title ? page.title : "" }} - Kanazawarb</title>

    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="../stylesheets/pygment_trac.css">
    <script src="../javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a href="../">Kanazawa.rb<br>Meetup</a></h1>
        <p class="header"></p>

        <ul>
          <li><a href="../0/">#0 2012-07-21 (Sat)</a></li>
          <li><a href="../1/">#1 2012-08-18 (Sat)</a></li>
          <li><a href="../2/">#2 2012-09-22 (Sat)</a></li>
          <li><a href="../3/">#3 2012-10-27 (Sat)</a></li>
          <li><a href="../4/">#4 2012-12-01 (Sat)</a></li>
        </ul>

        <p class="header">This project is maintained by <a class="header name" href="/">kanazawarb</a></p>


      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
		
  </body>
</html>
