<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Meetup {{ page.title ? page.title : "" }} - Kanazawarb</title>

    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="../stylesheets/pygment_trac.css">
    <script src="../javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a href="../">Kanazawa.rb<br>Meetup</a></h1>
        <p class="header"></p>

        <ul>
          <li><a href="../39/">#39 2015-11-21 (Sat)</a></li>
          <li><a href="../38/">#38 2015-10-17 (Sat)</a></li>
          <li><a href="../37/">#37 2015-09-26 (Sat)</a></li>
          <li><a href="../36/">#36 2015-08-29 (Sat)</a></li>
          <li><a href="../35/">#35 2015-07-18 (Sat)</a></li>
          <li><a href="../34/">#34 2015-06-20 (Sat)</a></li>
          <li><a href="../33/">#33 2015-05-16 (Sat)</a></li>
          <li><a href="../32/">#32 2015-04-25 (Sat)</a></li>
          <li><a href="../31/">#31 2015-03-21 (Sat)</a></li>
          <li><a href="../30/">#30 2015-02-21 (Sat)</a></li>
          <li><a href="../29/">#29 2015-01-17 (Sat)</a></li>
          <li><a href="../28/">#28 2014-12-20 (Sat)</a></li>
          <li><a href="../27/">#27 2014-11-15 (Sat)</a></li>
          <li><a href="../26/">#26 2014-10-11 (Sat)</a></li>
          <li><a href="../25/">#25 2014-09-20 (Sat)</a></li>
          <li><a href="../24/">#24 2014-08-30 (Sat)</a></li>
          <li><a href="../23/">#23 2014-07-19 (Sat)</a></li>
          <li><a href="../22/">#22 2014-06-21 (Sat)</a></li>
          <li><a href="../21/">#21 2014-05-17 (Sat)</a></li>
          <li><a href="../20/">#20 2014-04-19 (Sat)</a></li>
          <li><a href="../19/">#19 2014-03-15 (Sat)</a></li>
          <li><a href="../18/">#18 2014-02-15 (Sat)</a></li>
          <li><a href="../17/">#17 2014-01-18 (Sat)</a></li>
          <li><a href="../16/">#16 2013-12-21 (Sat)</a></li>
          <li><a href="../15/">#15 2013-11-23 (Sat)</a></li>
          <li><a href="../14/">#14 2013-10-19 (Sat)</a></li>
          <li><a href="../13/">#13 2013-09-28 (Sat)</a></li>
          <li><a href="../12/">#12 2013-08-24 (Sat)</a></li>
          <li><a href="../11/">#11 2013-07-20 (Sat)</a></li>
          <li><a href="../10/">#10 2013-06-15 (Sat)</a></li>
          <li><a href="../9/">#9 2013-05-25 (Sat)</a></li>
          <li><a href="../8/">#8 2013-04-20 (Sat)</a></li>
          <li><a href="../7/">#7 2013-03-30 (Sat)</a></li>
          <li><a href="../6/">#6 2013-02-16 (Sat)</a></li>
          <li><a href="../5/">#5 2013-01-19 (Sat)</a></li>
          <li><a href="../4/">#4 2012-12-01 (Sat)</a></li>
          <li><a href="../3/">#3 2012-10-27 (Sat)</a></li>
          <li><a href="../2/">#2 2012-09-22 (Sat)</a></li>
          <li><a href="../1/">#1 2012-08-18 (Sat)</a></li>
          <li><a href="../0/">#0 2012-07-21 (Sat)</a></li>
        </ul>

        <p class="header">This project is maintained by <a class="header name" href="/">kanazawarb</a></p>


      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->

  </body>
</html>
